:root{
  --color-white: white;
  --color-black: black;
  --color-dark-grey: #10100e;
  --border-radius-small: 0.3vw
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  font-family: SansSerif;
}